<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NAIportal Coordinator View - Case Detail</title>
    <base href="/">
    <script src="js/base.js"></script>
    <script src="js/ejs.js"></script>
    <script src="js/casedetail.js"></script>
    <script src="js/vis.js"></script>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/decorations3.css">
    <link rel="stylesheet" href="css/decorations4.css">
    <link rel="stylesheet" href="css/casedetail.css">
    <link rel="stylesheet" href="css/vis.css">
  </head>
  <body onload="loadPage('ejs/base.ejs','ejs/casedetail_sample.ejs');">
  </body>
</html>
