<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NAIportal Coordinator View - Worker Detail</title>
    <base href="/">
    <script src="js/base.js"></script>
    <script src="js/ejs.js"></script>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/decorations4.css">
  </head>
  <body onload="loadPage('ejs/base.ejs','ejs/workerdetail.ejs');">
  </body>
</html>
