main .paddedContainer {
	padding: 10px 20px;
}
main h1 {
	margin: 0 0 15px 0;
	padding: 5px 0 2px 2px;
	color: #a99e93;
	font-weight: 100;
	border-bottom: 2px solid #a22041;
}
main h2 {
	margin: 0 2px;
	clear: both;
	font-weight: 100;
}
main h3 {
	margin: 5px 0px;
	clear: both;
}
main hr {
	clear: both;
}
main .caseDetail_controls {
	margin: 5px 0px;
	height: 40px;
	text-align: right;
}
main .caseDetail_controls_fixed {
	position: fixed;
	top: 95px;
	right: calc(20% + 15px);
	z-index: 1000;
	height: 40px;
	text-align: right;
}
main .imageButton {
	width: 36px;
	height: 36px;
	border-style: outset;
	border-width: 2px;
	border-color: dimgray;
}
main .imageButton.selected {
	border-style: inset;
	border-width: 2px;
	border-color: red;
}
main dl {
	background: #e9e4d4;
	border: 1px solid #ccc;
}
main .caseDetail_properties dt {
	display: block;
	margin: 3px;
	padding: 5px 10px;
	border-radius: 4px;
	float: left;
	color: #fff;
	font-size: 16px;
	background-color: #c0c6c9;
}
main .caseDetail_properties dd {
	display: block;
	margin: 4px 20px 5px -1px;
	padding: 5px;
	float: left;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	white-space: nowrap;
}
main .caseDetail_estimationComparison {
	clear: both;
	padding-top: 10px;
	background:#e9e4d4;
	border:1px solid #ccc;
}
main .caseDetail_estimationComparison th {
	padding: 0px;
	text-align: right;
}
main .caseDetail_estimationComparison td {
	padding: 0px;
}
main .caseDetail_properties_fixedwidth {
	margin: 0px;
	padding: 0px;

}
main .caseDetail_properties_fixedwidth dt {
	width: 30px;
	display: block;
	margin: 3px;
	padding: 5px 10px;
	border-radius: 4px;
	float: left;
	color: #fff;
	font-size: 16px;
	background-color: #c0c6c9;
}
main .caseDetail_properties_fixedwidth dd {
	display: block;
	margin: 0px 20px 5px -1px;
	padding: 3px;
	height: 25px;
	width: 80px;
	float: left;
	text-align: right;
	background-color: lightgray;
	border-style: solid;
	border-width: 1px;
	border-color: dimgray;
}
main span.elmedit_editable {
	display: inline-block;
}
main input.elmedit_editor, main select.elmedit_editor {
	width: calc(100% - 6px);
	height: calc(100% - 6px);
}
main .caseDetail_internalnote {
	clear: both;
	display: block;
	margin: 5px 0px;
	padding: 7px 12px;
	word-break: break-all;
	min-height: 70px;
	overflow-y: visible;
	background-color: #fff;
	border-style: solid;
	border-width: 1px;
	border-color: dimgray;
}
main textarea.elmedit_editor {
	width: calc(100% - 6px);
	height: calc(100% - 6px);
	resize: none;
}
main .caseDetail_branch {
	display: block;
	margin: 5px 0px;
	padding: 0px;
}
main .caseDetail_branchprogress {
	clear: both;
	display: block;
	padding: 0px;
}
main .caseDetail_timeline {
}
.editModeBackground {
}
#timelineEdit {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1000;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}
#timelineEditPanel {
	margin: 100px calc(30% + 20px) 20px calc(10% + 20px);
	width: calc(60% - 60px);
	height: calc(100% - 140px);
	padding: 10px;
	overflow: scroll;
	background-color: whitesmoke;
	border-style: solid;
	border-width: 1px;
	border-color: dimgray;
	box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.4);
	text-align: center;
}


#milestoneCompletion {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1000;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}
#milestoneCompletionPanel {
	margin: 100px calc(30% + 20px) 20px calc(10% + 20px);
	width: calc(60% - 60px);
	height: calc(100% - 140px);
	padding: 10px;
	overflow: scroll;
	background-color: whitesmoke;
	border-style: solid;
	border-width: 1px;
	border-color: dimgray;
	box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.4);
	text-align: center;
}



#timelineEdit_errorMsg {
	color: #cc7eb1;
}
#timelineEdit_editor {
	border-collapse: sepalate;
	border-spacing: 0px 1px;
	margin-left: auto;
	margin-right: auto;
}
#timelineEdit_editor td {
	padding: 2px 5px;
	vertical-align: middle;
}
#timelineEdit_editor td input {
	width: 100%;
}
#timelineEdit_editor .timelineEdit_nullRow td {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#c2ede5', endColorstr = '#7fc1e3');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#c2ede5', endColorstr = '#7fc1e3')";
background-image: -moz-linear-gradient(top, #c2ede5, #7fc1e3);
background-image: -ms-linear-gradient(top, #c2ede5, #7fc1e3);
background-image: -o-linear-gradient(top, #c2ede5, #7fc1e3);
background-image: -webkit-gradient(linear, center top, center bottom, from(#c2ede5), to(#7fc1e3));
background-image: -webkit-linear-gradient(top, #c2ede5, #7fc1e3);
background-image: linear-gradient(top, #c2ede5, #7fc1e3);

}
#timelineEdit_editor .timelineEdit_completedRow td {
	background-color: #d4ffd6;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#54dfdd', endColorstr = '#3aac57');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#54dfdd', endColorstr = '#3aac57')";
	background-image: -moz-linear-gradient(top, #54dfdd, #3aac57);
	background-image: -ms-linear-gradient(top, #54dfdd, #3aac57);
	background-image: -o-linear-gradient(top, #54dfdd, #3aac57);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#54dfdd), to(#3aac57));
	background-image: -webkit-linear-gradient(top, #54dfdd, #3aac57);
	background-image: linear-gradient(top, #54dfdd, #3aac57);
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}
#timelineEdit_editor .timelineEdit_inprogressRow td {
	background-color: #cffff5;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#c2fff7', endColorstr = '#00a3af');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#c2fff7', endColorstr = '#00a3af')";
	background-image: -moz-linear-gradient(top, #c2fff7, #00a3af);
	background-image: -ms-linear-gradient(top, #c2fff7, #00a3af);
	background-image: -o-linear-gradient(top, #c2fff7, #00a3af);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#c2fff7), to(#00a3af));
	background-image: -webkit-linear-gradient(top, #c2fff7, #00a3af);
	background-image: linear-gradient(top, #c2fff7, #00a3af);
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}
#timelineEdit_editor .timelineEdit_untouchedRow td {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#e0e0e0', endColorstr = '#869299');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#e0e0e0', endColorstr = '#869299')";
background-image: -moz-linear-gradient(top, #e0e0e0, #869299);
background-image: -ms-linear-gradient(top, #e0e0e0, #869299);
background-image: -o-linear-gradient(top, #e0e0e0, #869299);
background-image: -webkit-gradient(linear, center top, center bottom, from(#e0e0e0), to(#869299));
background-image: -webkit-linear-gradient(top, #e0e0e0, #869299);
background-image: linear-gradient(top, #e0e0e0, #869299);

}
#timelineEdit_editor .timelineEdit_revokedRow td {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#3aa8d6', endColorstr = '#11149e');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#3aa8d6', endColorstr = '#11149e')";
background-image: -moz-linear-gradient(top, #3aa8d6, #11149e);
background-image: -ms-linear-gradient(top, #3aa8d6, #11149e);
background-image: -o-linear-gradient(top, #3aa8d6, #11149e);
background-image: -webkit-gradient(linear, center top, center bottom, from(#3aa8d6), to(#11149e));
background-image: -webkit-linear-gradient(top, #3aa8d6, #11149e);
background-image: linear-gradient(top, #3aa8d6, #11149e);

}
/* Styles for timeline (additional styles on vis.js) */

.vis-item.completed {
	background-color: #d4ffd6;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#54dfdd', endColorstr = '#3aac57');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#54dfdd', endColorstr = '#3aac57')";
	background-image: -moz-linear-gradient(top, #54dfdd, #3aac57);
	background-image: -ms-linear-gradient(top, #54dfdd, #3aac57);
	background-image: -o-linear-gradient(top, #54dfdd, #3aac57);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#54dfdd), to(#3aac57));
	background-image: -webkit-linear-gradient(top, #54dfdd, #3aac57);
	background-image: linear-gradient(top, #54dfdd, #3aac57);
}
.vis-item.inprogress {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffc569', endColorstr = '#db7c42');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffc569', endColorstr = '#db7c42')";
background-image: -moz-linear-gradient(top, #ffc569, #db7c42);
background-image: -ms-linear-gradient(top, #ffc569, #db7c42);
background-image: -o-linear-gradient(top, #ffc569, #db7c42);
background-image: -webkit-gradient(linear, center top, center bottom, from(#ffc569), to(#db7c42));
background-image: -webkit-linear-gradient(top, #ffc569, #db7c42);
background-image: linear-gradient(top, #ffc569, #db7c42);

}
.vis-item.untouched {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#b6b6b6', endColorstr = '#555555');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#b6b6b6', endColorstr = '#555555')";
background-image: -moz-linear-gradient(top, #b6b6b6, #555555);
background-image: -ms-linear-gradient(top, #b6b6b6, #555555);
background-image: -o-linear-gradient(top, #b6b6b6, #555555);
background-image: -webkit-gradient(linear, center top, center bottom, from(#b6b6b6), to(#555555));
background-image: -webkit-linear-gradient(top, #b6b6b6, #555555);
background-image: linear-gradient(top, #b6b6b6, #555555);

}
.vis-item.revoked {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#3aa8d6', endColorstr = '#11149e');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#3aa8d6', endColorstr = '#11149e')";
background-image: -moz-linear-gradient(top, #3aa8d6, #11149e);
background-image: -ms-linear-gradient(top, #3aa8d6, #11149e);
background-image: -o-linear-gradient(top, #3aa8d6, #11149e);
background-image: -webkit-gradient(linear, center top, center bottom, from(#3aa8d6), to(#11149e));
background-image: -webkit-linear-gradient(top, #3aa8d6, #11149e);
background-image: linear-gradient(top, #3aa8d6, #11149e);

}
.vis-item .nooverflow {
	overflow: hidden;
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.vis-item .nooverflow * {
	vertical-align: middle;
}
.vis-item abbr {
	margin-right: 5px;
	font-size: 30px;
	font-weight: bold;
	color: white;
	vertical-align: middle;
}
.vis-item div .individualreward {
	height: 30px;
}
.vis-item div .individualreward span {
	display: inline-block;
	margin: 0px 2px;
	padding: 3px;
	background-color: lightgray;
	border-color: silver;
	border-style: solid;
	border-width: 1px;
}
.vis-item div .individualreward span span {
	display: inline;
	border-style: none;
	border-width: 0px;
	margin: 0px;
	padding: 0px;
}
.vis-item div .datetime {
	display: none;
	margin: 12px 0px 0px 0px;
	padding: 0px 5px;
	position: absolute;
	z-index: 100;
	background-color: whitesmoke;
	box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.4);
}
.vis-item:hover div .datetime {
	display: block;
}
.vis-item div .datetime dl {
	margin: 0px;
	padding: 0px;
}
.vis-item div .datetime dl dt {
	float: left;
	clear: both;
}
.vis-item div .datetime dl dd {
	margin: 0px 0px 0px 40px;
}
