<tr id="disp-file<%= num %>">
    <td>New File</td>
    <td>
        <input type="file" name="file__FILENUMBER__" multiple="no" accept="*/*" hidden="hidden" id="f-file__FILENUMBER__" onchange="updateFile('__FILENUMBER__')">
        <input type="button" value="Update" id="ud-file__FILENUMBER__" onclick="selectFile('__FILENUMBER__')">
    </td id="stat-file__FILENUMBER__">
</tr>